* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

h3 {
    color: lightseagreen;
    padding-bottom: 10px;
}

a {
    color: lightseagreen;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form, .tasks-list {
    display: flex;
    flex-direction: column;
    width: 450px;
    border: 5px solid #e3e3e3;
    padding: 30px 30px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 3px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    font-weight: bold;
}

button.save {
    background-color: rgba(89, 204, 196, 0.84);
    color: white;
}

button:hover {
    background-color: rgba(89, 204, 196, 0.95);
    color: white;
}

select {
    margin: 10px 0px 13px 0px;
    border: unset;
    border-bottom: 3px solid #e3e3e3;
    outline: none;
}

textarea {
    outline: none;
}

.prof {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 5px solid #e3e3e3;
    padding: 30px 30px;
    text-align: center;
}

.msg {
    border: 2px solid rgba(89, 204, 196, 0.84);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.small-text {
    font-size: 12px;
    margin: 5px 0;
}

.small-text:hover {
    text-decoration: underline;
}

.small-text.border {
    border-top: 1px solid #dedede;
    padding-top: 10px;
    margin-top: 20px;
}

ol {
    margin-left: 15px;
}
