<form action="index.php" method="post">
    <p> Выберите страну </p>
    <select name="country">
        <option value='Turkey'>Турция</option>
        <option value='Egypt'>Египет</option>
        <option value='Italy'>Италия</option>
    </select>
    <br>
    <p> Количество дней </p>
    <input name="days" type="number" required>

    <p>У вас есть скидка?</p>
    <input type="checkbox" name="yes">

    <br><br>
    <button type="submit" name="Send">Отправить</button>

</form>
