body{
    margin: 20px 200px;
    background-color: paleturquoise;
    font-family: "COURIER", sans-serif;
    color: dimgray;
}
h1{
    font-family: "COURIER", sans-serif;
    color: white;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.btn {
    color: white;

}


